/* Default body gradient */
body {
    background: linear-gradient(to right, #9ae7eb, #bff0b7);
}

/* Define a CSS variable for text color */
:root {
    --text-color: #404747;  /* Change this value to change the text color globally */
}

/* Apply the variable to the text color */
body, .text-dark, .navbar-brand, .navbar-toggler-icon span, .navbar-nav .nav-link {
    color: var(--text-color) !important;
}

/* Ensure no overflow beyond the viewport */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 767px) {  /* Apply only on sm screens */
    .date-text {
        font-size: 0.9rem;  /* Adjust size as needed */
    }
}

@media (max-width: 450px) {
    .col-xxs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}