/* Default body gradient */
body {
    background: linear-gradient(to right, #b4e6f0, #bceede);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the entire body fills the viewport */
}

body .navbar {
    background-color: #242424 !important; /* Replace with your desired color */
}

/* Ensure no overflow beyond the viewport */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Ensure that the main content expands to push footer down */
#content {
    flex: 1; /* Pushes the footer to the bottom */
    display: flex;
    flex-direction: column;
}

/* Keep footer at the bottom */
#footer {
    flex-shrink: 0;
    width: 100%;
}

/* Prevent scrolling below footer */
body::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

/* Fix extra spacing issue */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Adjust text size for small screens */
@media (max-width: 767px) {  /* Apply only on sm screens */
    .date-text {
        font-size: 0.9rem;  /* Adjust size as needed */
    }
}

/* Custom extra-small breakpoint */
@media (max-width: 430px) {
    .col-xxs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Custom Toggler (Hamburger Menu) Styling */
.custom-toggler {
    border-color: white !important; /* Border color of the toggler */
}

.custom-toggler .navbar-toggler-icon {
    background-image: none !important; /* Remove default Bootstrap toggler icon */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: relative;
} 

/* Custom hamburger menu lines */
.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after,
.custom-toggler .navbar-toggler-icon span {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    background-color: white !important; /* Color of the lines */
    position: absolute;
    left: 1px;
    transition: all 0.3s ease-in-out;
}

.custom-toggler .navbar-toggler-icon::before {
    top: 5px;
}

.custom-toggler .navbar-toggler-icon::after {
    bottom: 5px;
}

.custom-toggler .navbar-toggler-icon span {
    top: 50%;
    transform: translateY(-50%);
}

/* Add offset for scroll position to account for the navbar height */
section {
    scroll-margin-top: 61px;  /* Adjust the value to match the height of your navbar */
}